<p>Oh hello {{ user.username }},</p>
<p>
<p>Looks like you lost your library card. Dragon? Goblin infestation?</p>
<p>An abnormally large chicken? Whatever the reason I am here to help.</p>
<p>Simply click the link below to be taken off to the portal to remember</p>
<p>whatever it is you have forgotten, hmm?</p>
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        Create New Password
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>And maybe blame one of your party members.</p>
<p>Sincerely,</p>
<p>The Head Librarian</p>